html {
  scroll-behavior: smooth;
}

.header-title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 1.8em;
  color: #ffd2d8;
  padding-top: 5px;
}

.header-div {
  background-color: #881348;
  padding: 20px 0px;
  border-top: pink solid;
}

.mini-header-text {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: .8em;
  color: white;
}

#navBarDiv {
  font-family: 'Oswald', sans-serif;
  font-size: 0.7em;
  display: flex;
  border-top: 2px solid #ffd2d8;
  background-color: #881348;
  color: white;
  padding: 2px;
  justify-content: center;
}

#homepage-pic {
  width: 100%;
  /* border-radius: 100px; */
}

.nav-link {
  margin: auto;
}

#homepage-quote {
  font-size: 13px;
  font-style: italic;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  border: aliceblue solid 10px;
}

#homepage-quote span {
  font-size: 16px;
  font-weight: bold;
}

#learn-more-link {
  font-style: normal;
  margin-top: 10px;
  font-weight: bold;
}

#arrow-icon {
  margin: 4px;
}

footer {
  background-color: #881348;
  position: absolute;
  bottom: 0;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
}

#li-weight-counseling, #footer-address-details {
  font-family: 'Oswald', sans-serif;
  font-size: small;
}

#footer-address-details p {
  margin: 0;
}

.page-body-container {
  padding: 20px 20px;
}

.page-body-container p, span {
  font-family: 'Oswald', sans-serif;
  font-size: small;
}
